<%- include('partials/header.ejs') %>
<main class="container aboutPage my-5">
    <h1>aboutPage</h1>
    <div class="textAndImageContainer img-fluid d-flex flex-lg-row flex-column">
        <div class="imageContainer me-md-5 me-0">
            <img class="d-block img-thumbnail rounded mx-auto mx-lg-0 d-block w-50-md mw-100" src="/images/aidan-hancock-dA0SA67EgOQ-unsplash.jpg" alt="">
            <div class="text-lg-start text-center">Photo by <a href="https://unsplash.com/@aidanmh?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Aidan Hancock</a> on <a href="https://unsplash.com/photos/black-android-smartphone-on-macbook-pro-dA0SA67EgOQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></div>
        </div>
        <div class="mt-lg-0 mt-2 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptas rerum eaque exercitationem magnam adipisci quibusdam nulla, harum quae necessitatibus atque obcaecati incidunt iste? Omnis non nobis excepturi nihil temporibus.</div>
    </div>
    <div class="textAndImageContainer img-fluid">
        <img class="img-thumbnail rounded mx-auto mx-lg-0 d-block" src="/images/cropped-image-businessman-sitting-by-table-cafe-analyzing-indicators-laptop-computer.jpg" alt="">
        <div class="text-lg-start text-center"><a href="https://www.freepik.com/free-photo/cropped-image-businessman-sitting-by-table-cafe-analyzing-indicators-laptop-computer_6876011.htm#fromView=search&page=1&position=4&uuid=d070ec39-3c2b-4633-9514-f34c1caa5c14">Image by drobotdean on Freepik</a></div>
    </div>
    <div class="textAndImageContainer img-fluid">
        <img class="img-thumbnail rounded mx-auto mx-lg-0 d-block" src="/images/dylan-calluy-JpflvzEl5cg-unsplash.jpg" alt="">
        <div class="text-lg-start text-center">        Photo by <a href="https://unsplash.com/@dylancalluy?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Dylan Calluy</a> on <a href="https://unsplash.com/photos/a-close-up-of-a-computer-screen-with-a-chart-on-it-JpflvzEl5cg?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></div>
    </div>
    <div class="textAndImageContainer img-fluid">
        <img class="img-thumbnail rounded mx-auto mx-lg-0 d-block" src="/images/joshua-mayo-HASoyURgPMY-unsplash.jpg" alt="">
        <div class="text-lg-start text-center">        Photo by <a href="https://unsplash.com/@joshuamayoo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Joshua Mayo</a> on <a href="https://unsplash.com/photos/macbook-pro-on-brown-wooden-table-HASoyURgPMY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></div>
    </div>
    <div class="textAndImageContainer img-fluid">
        <img class="img-thumbnail rounded mx-auto mx-lg-0 d-block" src="/images/photorealistic-money-with-plant.jpg" alt="">
        <div class="text-lg-start text-center">        <a href="https://www.freepik.com/free-ai-image/photorealistic-money-with-plant_94935326.htm#fromView=search&page=1&position=11&uuid=d070ec39-3c2b-4633-9514-f34c1caa5c14">Image by freepik</a></div>
    </div>
    <div class="textAndImageContainer img-fluid">
        <img class="img-thumbnail rounded mx-auto mx-lg-0 d-block" src="/images/screen-with-graph-it-that-says-word-financial-it.jpg" alt="">
        <div class="text-md-start text-center">        <a href="https://www.freepik.com/free-ai-image/screen-with-graph-it-that-says-word-financial-it_41595705.htm#fromView=search&page=1&position=25&uuid=d070ec39-3c2b-4633-9514-f34c1caa5c14">Image by vecstock on Freepik</a>    </div>
    </div>

    
    
    
    
    
</main>
<%- include('partials/footer.ejs') %>