<%- include('partials/header.ejs') %>
<!-- added margin-top:=65px -->
<!-- <main class="container"> -->
<main class="container my-5">
    <h1>contactPage</h1>
</main>
<%- include('partials/footer.ejs') %>